[project]
	description = Jio San
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sanjeev Jaiswal (jaiswalsanjeev)
[access "refs/for/refs/*"]
	read = group user/Sanjeev Jaiswal (jaiswalsanjeev)
	push = group user/Sanjeev Jaiswal (jaiswalsanjeev)
	label-Code-Review = -2..+2 group user/Sanjeev Jaiswal (jaiswalsanjeev)
	label-Verified = -1..+1 group user/Sanjeev Jaiswal (jaiswalsanjeev)
	rebase = group user/Sanjeev Jaiswal (jaiswalsanjeev)
	removeReviewer = group user/Sanjeev Jaiswal (jaiswalsanjeev)
	submit = group user/Sanjeev Jaiswal (jaiswalsanjeev)
[access "refs/heads/*"]
	read = group user/Sanjeev Jaiswal (jaiswalsanjeev)
	create = group user/Sanjeev Jaiswal (jaiswalsanjeev)
	push = +force group user/Sanjeev Jaiswal (jaiswalsanjeev)
	pushMerge = group user/Sanjeev Jaiswal (jaiswalsanjeev)
[access "refs/tags/*"]
	push = group user/Sanjeev Jaiswal (jaiswalsanjeev)
	push = +force group user/Sanjeev Jaiswal (jaiswalsanjeev)
